{% extends 'template.html.twig' %}

{% block body %}
    <div class="card col-md-12">
        <div class="card-header">
            <h3 class="card-title">Ajouter un nouvel utilisateur</h3>
        </div>
        <div class="card-body">
            {% set show_lines = true %}
            {{ include('user/_form.html.twig', {'button_label': 'Ajouter'}) }}
        </div>
        <div class="card-footer">
            <a href="{{ path('app_user_index') }}" class="btn btn-default">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
